body {
  font-family: sans-serif;
  line-height: 1.6em;
}

.container {
  width: 800px;
  margin: 50px auto;
  display: grid;
  grid-template-areas: "container item";
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.grid-container {
  grid-area: container;
  border: 3px solid blue;
  border-radius: 10px;
  padding: 20px;
}

.grid-item {
  grid-area: item;
  border: 3px solid red;
  border-radius: 10px;
  padding: 20px;
}

.unlist {
  list-style: none;
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.3em;
}

.center-list {
  display: flex;
  justify-content: center;
}

/* css grid all properti */
/* grid-template-colums & grid-template-rows*/
.container-template-colrow {
  width: 150px;
  height: 50px;
  color: white;
  font-size: 0.8em;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
}

/*repeat value*/
.container-template-colrow-repeat {
  width: 150px;
  height: 20px;
  color: white;
  font-size: 0.8em;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

/*min max content value*/
.container-template-colrow-minmaxcontent {
  width: 150px;
  height: 20px;
  color: white;
  font-size: 0.8em;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
}

/*auto fill fit value*/
.container-template-colrow-autofillfit {
  width: 150px;
  color: white;
  border: 1px solid black;
  font-size: 0.8em;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40px);
}

/*minmax value*/
.container-template-colrow-minmax {
  width: 150px;
  color: white;
  font-size: 0.8em;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: minmax(30px, 50px);
}

/* grid-auto-colums & grid-auto-rows*/
.container-auto-colrow {
  width: 150px;
  color: white;
  font-size: 0.8em;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr 2fr;
  grid-auto-rows: 2fr;
}

/* grid-auto-flow*/
.container-auto-flow {
  color: white;
  font-size: 0.8em;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 10px 20px 30px;
  grid-auto-flow: column; /* merubah baris menjadi column atau sebaliknya seperti pada properti "flex-direction" */
  grid-auto-columns: 25px;
}

/* grid template areas */
.container-template-areas {
  color: white;
  font-size: 0.8em;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "sidebar content content"
    "sidebar content content";
}

/* grid template */
.container-grid-template {
  width: 150px;
  color: white;
  font-size: 0.8em;
  margin-bottom: 10px;
  display: grid;
  grid-template: 20px 30px / 1fr 2fr 3fr;
}

/* grid gap */
.container-grid-gap {
  width: 150px;
  color: white;
  font-size: 0.8em;
  margin-bottom: 10px;
  display: grid;
  grid-template: 20px 30px / 1fr 2fr 3fr;
  grid-gap: 3px;
}

/* css for all item */

.item1 {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item2 {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  grid-area: header;
  background-color: blue;
}

.sidebar {
  grid-area: sidebar;
  background-color: red;
}

.content {
  grid-area: content;
  background-color: yellow;
}
