body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 38px;
}
.container {
  width: 800px;
  border: 3px solid grey;
  padding: 3px;
  margin: auto;
}

.header {
  width: 100%;
  padding: 40px 0;
  background-color: blueviolet;
}

.content {
  width: 100%;
  height: 500px;
  display: flex;
}

.sidebar {
  flex: 1;
  height: 100%;
}

.aside {
  width: 100%;
  height: 30%;
  background-color: rgb(107, 171, 245);
}

.nav {
  width: 100%;
  height: 70%;
  background-color: rgb(248, 112, 112);
}

.main {
  flex: 2;
  height: 100%;
  background-color: orange;
}

.footer {
  width: 100%;
  padding: 20px 0;
  background-color: grey;
}
